.rdp-root {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;

  --rdp-today-color: rgb(35, 155, 144);
  --rdp-accent-color: rgb(35, 155, 144);

  @media (min-width: 1024px) {
    align-items: flex-start;
    margin-left: 3rem;
  }
}
.rdp-months {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35rem;

  @media (min-width: 768px) {
    height: 50rem;
    width: 50rem;
  }
}

.rdp-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
  gap: 5rem;
  @media (min-width: 768px) {
    height: 45rem;
    width: 45rem;
  }

  &_grid {
    @media (min-width: 768px) {
      height: 40rem;
      width: 40rem;
    }
  }
}

.rdp-selected {
  @media (min-width: 768px) {
    font-size: 4rem;
  }
}
button.rdp-day_button {
  @media (min-width: 768px) {
    width: 6rem;
    height: 6rem;
  }
}
