.rdp-root {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;

  --rdp-today-color: rgb(35, 155, 144);
  --rdp-accent-color: rgb(35, 155, 144);
}
.rdp-months {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;

  @media (min-width: 768px) {
    height: 500px;
    width: 500px;
  }
}

.rdp-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  gap: 50px;
  @media (min-width: 768px) {
    height: 450px;
    width: 450px;
  }

  &_grid {
    @media (min-width: 768px) {
      height: 400px;
      width: 400px;
    }
  }
}

.rdp-selected {
  @media (min-width: 768px) {
    font-size: 4rem;
  }
}
button.rdp-day_button {
  @media (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
}
