@keyframes arrowUp {
  100% {
    transform: translatey(-1rem);
  }
}

.footer {
  min-width: 320px;
  background-color: rgb(147, 234, 210);
  box-shadow: 6px -6px 5px rgb(77, 145, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem 0;
  position: relative;

  &__arrow {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -17px;
    margin-left: -10px;

    &:hover {
      animation-name: arrowUp;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 6;
      animation-direction: alternate;
      cursor: pointer;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__contributors {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
    }

    &__logo {
      width: 40px;
    }
  }
}

.shadow-img {
  box-shadow: 3px 3px 5px rgb(77, 145, 126);
}

.animate__heartBeat {
  --animate-duration: 3s;
  --animate-delay: 1s;
  animation-iteration-count: infinite;
}
