.header {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 141, 19);
  padding: 1rem;

  &__logo {
    width: 5rem;
  }
}

.nav {
  &__menu {
    display: flex;

    &__link {
      color: black;
      padding: 0.5rem;
      border-radius: 1rem;

      &:hover {
        background-color: rgb(218, 207, 5);
      }
    }
  }
}
